/* About.css */
.about-container {
    padding: 20px;
    padding-left: 50px;
    background-color: #00000076; /* Semi-transparent black */
    color: white;
     margin: 0 auto; /* Center the container */
   }
  
  .about-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .about-container .content-section {
    margin-bottom: 20px;
  }
  
  .about-container h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-container h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  
  .about-container p {
    margin-bottom: 15px;
  }
  
  .about-container ul {
    list-style-type: disc; /* Use disc bullets */
    margin-left: 20px;
  }
  
  .about-container ul li {
    margin-bottom: 10px;
  }
  